<div class="row owl-theme owl-carousel owl-packages">
{{#each data.products }}
<div class="card">
 <img src="{{this.image}}" class="card-img-top" alt="...">
 <div class="card-body">
   <h5 class="card-title">{{this.name}}</h5>
   <p class="card-text">{{this.description}}</p>
   <a href="/category/{{this.category}}/details/{{this.id}}" class="btn btn-primary">More about {{this.name}}</a>
   
   {{>addcart}}
 </div>
 <ul class="list-group list-group-flush">
   <li class="list-group-item">${{this.price}}</li>
   <li class="list-group-item">{{this.id}}</li>
   <li class="list-group-item">{{this.moreimages}}</li>
 </ul>
</div>
{{/each}}
</div>