<h1>Cart</h1>

{{#each products}}

<div class="card">
 <img src="{{this.image}}" class="card-img-top" alt="...">
 <div class="card-body">
   <h5 class="card-title">{{this.name}}</h5>
   <p class="card-text">{{this.description}}</p>
   
 </div>




{{this.image}} {{this.id}} {{this.name}} {{this.description}} {{this.price}} <hr>

{{/each}}
