<h1>Details About Animals</h1>

{{>heading}}

{{#each data.products}}

{{>addcart}}


<img src="{{this.image}}" class="container" alt="...">

{{this.description}}




<div class="container text-center">
  <div class="row">
    {{#each this.gallery}}
    <div class="col">
        
            <img src="{{this}}" class="container" alt="...">
        
    </div>
    {{/each}}
    
  </div>
</div>





{{this.image}}
{{this.id}}  {{this.name}} {{this.price}}
    
{{/each}}

