{{#each data.products}}
<h1>Details About {{this.name}}</h1>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{{this.image}}" class="container" alt="...">
    </div>
    <div class="col">
        
        <h5 class="card-title">{{this.name}}</h5>
        <h7 class="card-title">${{this.price}}</h7>
        <p class="card-text">{{this.description}}</p>
        
        {{>addcart}}
    </div>
  </div>
</div>



<div class="container text-center">
  <div class="row">
    {{#each this.gallery}}
    <div class="col">
        
            <img src="{{this}}" class="container" alt="...">
        
    </div>
    {{/each}}
    
  </div>
</div>






    
{{/each}}




<h1></h1>


{{#if isCats}}
    {{>featuredcats}}
{{else if isDogs}}
    {{>featureddogs}}
{{else if isHorses}}
    {{>featuredhorses}}
{{else}}
    No featured items for this category.
{{/if}}
